<!-- header -->
<app-header-guest></app-header-guest>
<div class="jumbotron">
  <h1 class="display-3">Reset Password</h1>

<form style="margin-top:20px" action="" (ngSubmit)="resetpwd()" #resForm="ngForm">
  <div class="form-group">
    <label for="email">Email Address</label>
    <input type="email" class="form-control" name="email" [(ngModel)]="email" 
    #email="ngModel" aria-describedby="email" placeholder="Enter email you register with" required>
    <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
      Email is required
    </div>
  </div>
  <div *ngIf="error" class="alert alert-danger">
    {{ error }}
  </div>
  <button type="submit" [disabled]="!resForm.form.valid" class="btn btn-primary">Submit</button>
</form>
</div>

<!-- footer -->
<app-footer></app-footer>