<!-- header -->
<nav class="navbar navbar-expand-lg" id="my-header">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">
        <img src="../favicon.ico" width="30" height="30" class="d-inline-block align-top" alt=""> Hobby App
    </a>
    <button id="res-button" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link disabled" routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          Dashboard <span class="sr-only">(current)</span>
        </a>
            </li>
            <!-- if on the particular page make it disabled -->
            <li class="nav-item">
                <a class="nav-link" routerLink="/hobbies" routerLinkActive="active">All Hobbies</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/password" routerLinkActive="active">Change Password</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" style="cursor:pointer;" (click)="logout()">Logout</a>
            </li>
        </ul>
    </div>
</nav>