<!-- header -->
<app-header-guest></app-header-guest>

<div class="jumbotron">
  <h1 class="display-3">About the Hobby App</h1>
  <p class="lead">This Hobby App is very light weight platform for storing your hobbies</p>
  <hr class="my-4">
  <p style="font-size:1.5em;">In this App, you can add and remove hobbies, you can favorite any hobby or unfavorite it. You are sent mails and SMS depending on the actions
    you take in the app.</p>
  <!-- <p class="lead">
    <a class="btn btn-primary btn-lg" routerLink="/login" routerLinkActive="active" role="button">Login</a>

    <a class="btn btn-info btn-lg" routerLink="/register" routerLinkActive="active" role="button">Register</a>
  </p> -->
</div>

<!-- footer -->
<app-footer></app-footer>