<!-- header -->
<app-header-guest></app-header-guest>

<div class="jumbotron">
  <h1 class="display-3">Contact</h1>
  <p class="lead">
      Made with <i class="fa fa-heart" style="color: red"></i> <a target="_blank" style="text-decoration: none;" 
      href="https://twitter.com/olaoluwa_98"> by Emmanuel Awotunde</a>
  </p>
  <hr class="my-4">
  <p class="lead">
    <span style="font-size:2em">Reach me at </span><br>
    Twitter <a class="" target="_blank" href="https://twitter.com/olaoluwa_98">@olaoluwa_98</a> <br>
    LinkedIn <a class="" target="_blank" href="https://linkedin.com/in/emmanuel-awotunde">Emmanuel Awotunde</a> <br>
    GitHub <a class="" target="_blank" href="https://github.com/olaoluwa-98">@olaoluwa-98</a> <br>
    Medium <a class="" target="_blank" href="https://medium.com/@olaoluwa_98">@olaoluwa_98</a> <br>
    Instagram <a class="" target="_blank" href="https://instgram.com/olaoluwa_98">@olaoluwa_98</a> <br>
    Facebook <a class="" target="_blank" href="https://fb.com/awotunde.emmanuel">Emmanuel Awotunde</a> <br>
  </p>
</div>
<!-- footer -->
<app-footer></app-footer>