<div class="row">
  <div class="col-md-12" *ngFor="let hobby of hobbies" title="Double Click to favorite this hobby">
  <div class="card border-success mb-3" style="margin-bottom:15px" (dblclick) = "fav( hobby._id )">
      <div class="card-body text-success">
        <h4 class="card-title">{{ hobby.title }}</h4>
        <p class="card-text">{{ hobby.body }}</p>
      </div>
      <div class="card-footer text-muted">
          <small> {{ hobby.created_at | date:'medium'}}</small>
          <button class="btn btn-secondary btn-sm" style="float:right;margin-left:15px" (click) = "edit( hobby._id )" >Edit</button>
          <button class="btn btn-danger btn-sm" style="float:right" (click)="remove( hobby._id )" >Remove</button>
        </div>
    </div>
</div>
</div>