<!-- header -->
<app-header></app-header>

<!-- body -->
<div class="container-fluid">
  <div class="card text-center" style="margin-top: 15px;margin-bottom: 15px">
      <div class="card-body">
        <h4 class="card-title">Your Hobby Dashboard</h4>
        <p class="card-text">Here you can view your recently viewed hobbies</p>
        <a href="#" class="btn btn-primary">Add New Hobby?</a>
      </div>
      <div class="card-footer text-muted">
        Last Added: Date
      </div>
  </div>

  <app-hobby [hobbies] = "hobbies" ></app-hobby>
</div>
<!-- footer -->
<app-footer></app-footer>